<h1 class="uk-margin-top">
  <%= @task.content %>
</h1>

<p class="uk-margin-top">
  Category: <%= @task.category.name %>
</p>

<p>
  <%= link_to "Edit", edit_project_task_path(@task.project, @task) %> |
  <%= link_to "Back to project", project_path(@task.project) %>
</p>
